<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="be.project.sitereck">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProjectManager.Activities.MapActivity"></activity>
        <activity android:name=".ProjectManager.Activities.PmProjectList"></activity>
        <activity android:name=".ProjectManager.Activities.ProjCMList" />
        <activity android:name=".ProjectManager.Activities.ProjectDash" />
        <activity android:name=".ProjectManager.Activities.CMProjList" />
        <activity android:name=".ProjectManager.Activities.MaterialRequestFromCm" />
        <activity android:name=".ProjectManager.Activities.CMInfo" />
        <activity android:name=".ProjectManager.Activities.AllCmList_PM" />
        <activity android:name=".Construction_Manager.Activities.All_Activities_of_cm" />
        <activity android:name=".Construction_Manager.Activities.dashboard_cm" />
        <activity android:name=".Construction_Manager.Activities.Edit_profile_cm" />
        <activity android:name=".Construction_Manager.Activities.material_Request_CM" />
        <activity android:name=".Construction_Manager.Activities.MaterialRequestListCM" />
        <activity android:name=".Construction_Manager.Activities.particular_project">

        </activity>
        <activity android:name=".Construction_Manager.Activities.profile_cm" />
        <activity android:name=".Construction_Manager.Activities.ProjectList_cm" />
        <activity android:name=".Construction_Manager.Activities.ProjectSubActivities_CM" />
        <activity android:name=".Construction_Manager.Activities.request_dashboard_cm" />
        <activity android:name=".Construction_Manager.Activities.update_activity" />
        <activity android:name=".GeneralActivities.LoginActivity" />
        <activity android:name=".GeneralActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeneralActivities.SignupActivity" />
        <activity android:name=".ProjectManager.Activities.ActivityManager_PM" />
        <activity android:name=".ProjectManager.Activities.AllProjectPm" />
        <activity android:name=".ProjectManager.Activities.OngoingProjectPm" />
        <activity android:name=".ProjectManager.Activities.AddActivityDurationProjectPM" />
        <activity android:name=".ProjectManager.Activities.AddProjectActivityPM" />
        <activity android:name=".ProjectManager.Activities.OngoingProjectDetailPM" />
        <activity android:name=".ProjectManager.Activities.ActivityPm" />
        <activity android:name=".ProjectManager.Activities.ProjectPMActivity" />
        <activity android:name=".ProjectManager.Activities.AddNewProjectPM" />
        <activity android:name=".ProjectManager.Activities.DashboardPMActivity" />
        <activity android:name=".ProjectManager.Activities.AssignCmToProject_PM" />
    </application>

</manifest>