<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="be.project.sitereck">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Construction_Manager.update_activity"></activity>
        <activity android:name=".Construction_Manager.Edit_profile_cm" />
        <activity android:name=".Construction_Manager.profile_cm" />
        <activity android:name=".Construction_Manager.particular_project">

        </activity>
        <activity android:name=".Construction_Manager.ProjectList_CM" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>